<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--icon-->
    <link rel="shortcut icon" href="https://i.ibb.co/fkhvBg0/retail.png" />
    <title>Inicio-Fieldshop</title>
    <!--<link rel="stylesheet" href="resources/css/style.css">-->
</head>
<body>
    <h1>Esta es la pagina de inicio</h1>
    <h3>El user conectado es : <%= msg%> </h3>
</body>
</html>